/* styles.css */

body {
    font-family: Georgia, serif; /* Пример шрифта - Roboto */
    margin: 0;
    padding: 0;
}



.content {
    margin-top: 100px; /* Добавляем отступ сверху контенту, чтобы он начинался ниже закрепленной шапки */
}

/*шапка сайта*/
.header-container {
    position: fixed; /* Закрепляем шапку */
    top: 0; /* Располагаем шапку вверху страницы */
    left: 0; /* Располагаем шапку слева */
    width: 100%; /* Ширина шапки равна ширине экрана */
    height: 80px; /* Устанавливаем высоту шапки */
    background-color: #303030; /* Цвет фона шапки */
    color: white; /* Цвет текста в шапке */
    padding: 0px 0px; /* Внутренний отступ шапки */
    display: flex; /* Размещаем элементы в шапке в виде flexbox */
    justify-content: space-between; /* Равномерно распределяем элементы по ширине шапки */
    align-items: center; /* Выравниваем элементы по центру вертикально */
    z-index: 2000; /* Устанавливаем очень высокий z-index, чтобы шапка была поверх других элементов */
    
}




.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень при прокрутке */
}

.site-title {
    font-size: 40px;
    margin: auto; /* Добавляем margin: auto; для центрирования */
}
.site-title a {
    color: inherit; /* Сохранить цвет текста родительского элемента */
    text-decoration: none; /* Убрать подчеркивание */
    transition: color 0.3s, font-size 0.3s; /* Анимация изменения цвета и размера шрифта */
}
.site-title a:hover {
    color: inherit; /* Сохранить цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
    font-size: 1.1em; /* Увеличить размер шрифта при наведении */
}



/*korzina*/
.cart {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    position: absolute; /* Добавляем абсолютное позиционирование */
    top: 50%; /* Размещаем по вертикали по центру */
    right: 20px; /* Размещаем слева с отступом 20px */
    transform: translateY(-50%); /* Центрируем вертикально */
}
.cart h2 {
    text-align: center;
}
.cart-items {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.total {
    text-align: right;
}

#cart-items li {
    list-style: none;
    margin-bottom: 10px;
}

#cart-items button {
    margin-left: 5px;
}

/*katalog*/
.catalog-button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}
.catalog-button:hover {
    background-color: #ff6600;
}
.catalog-menu {
    display: none;
    position: absolute;
    top: calc(50% + 30px);
    left: 16px;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 100;
    transition: all 0.5s ease; /* Добавляем плавную анимацию */
}
.catalog-menu ul {
    list-style: none;
    padding: 0;
}
.catalog-menu li {
    background-color: #ddd;
    color:#ff6600;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
}
.catalog-menu a {
    color: inherit; /* Наследовать цвет текста */
    text-decoration: none; /* Убрать подчеркивание */
}
.catalog-menu a:hover {
    color: #cb5100; /* Наследовать цвет текста при наведении */
    text-decoration: none; /* Убрать подчеркивание при наведении */
}
/* вступление */
.site-info {
    margin-top: 120px; /* Добавляем отступ сверху в 120px */
    background-color: #ccc;
    color: #333;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    max-width: 1280px;
    margin: 20px auto; /* Добавляем промежуток сверху и снизу */
    border-radius: 10px; /* Закругляем края контейнера */
}




/* slider */
.slider {
    width: 80%;
    margin: 0 auto; /* Центрируем слайдер по горизонтали */
    position: relative;
}

/* Добавляем отступы сверху и снизу для центрирования вертикально */
.slider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
}

.slide img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.slide h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
}

.slide p {
    color: #666;
}
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: none;
    border: none;
    border-radius: 5px;
    height: 40px; /* Задаем одинаковую высоту для кнопок */
}
.slick-prev {
    left: 20px; /* Отступ слева */
    padding: 5px; /* Уменьшаем горизонтальный отступ */
}
.slick-next {
    right: 20px; /* Отступ справа */
    padding: 5px; /* Уменьшаем горизонтальный отступ */
}

/*инфо об очках*/
.glasses-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
}

.glasses-info img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-top: 20px; /* Добавляем отступ между текстом и изображением */
}

.left-image, .right-image {
    flex: none; /* Убираем гибкость для изображений */
}

.center-text {
    flex: none; /* Убираем гибкость для текста */
}


/*снова Обобщение текст*/

/*ниже стрелка*/
.arrow-8 {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px auto 80px auto;
}
.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 26px solid #ff6600;
    border-bottom: 26px solid #ff6600;
    animation: arrow-8 3s linear infinite;
}
.arrow-8:after {
    animation: arrow-8 3s linear infinite -1.5s;
}
@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}












/* mobile */
@media only screen and (max-width: 600px) {
    .header-container {
        height: 60px; /* Уменьшаем высоту шапки для мобильной версии */
        padding: 0 0px; /* Добавляем небольной внутренний отступ по бокам */
    }
    .content {
        margin-top: 70px; /* Добавляем отступ сверху контенту, чтобы он начинался ниже закрепленной шапки */
    }

    .site-title {
        font-size: 28px;
    }
    
    .site-info {
        font-size: 15px;
        padding: 10px;
        max-width: 99;
        margin: 0px;
        border-radius: 0px;
        border-block-end: 1px solid black;
        margin-block-end: 10px;
    }

/* Для мобильных устройств с шириной экрана до 768px */
@media only screen and (max-width: 768px) {
    .cart {
        top: auto; /* Перемещаем корзину вверх */
        right: 5px; /* Оставляем отступ справа */
        transform: none; /* Сбрасываем вертикальное центрирование */
        padding: 5px 10px;
    }

    .catalog-button {
        top: auto; /* Перемещаем кнопку каталога вверх */
        left: 5px; /* Оставляем отступ слева */
        transform: none; /* Сбрасываем вертикальное центрирование */
        padding: 5px 10px;
    }

    .catalog-menu {
        top: 50px; /* Перемещаем меню каталога ниже кнопки */
        left: 10px; /* Уменьшаем отступ слева */
    }
}



    .slider {
        width: 69%;
    }

    .slide {
        padding: 10px;
    }

    .slide h3 {
        font-size: 1.4em;
    }

    .slide p {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .slick-prev, .slick-next {
        display: none; /* Скрыть стрелки слайдера на мобильных устройствах */
    }
}

@media only screen and (min-width: 769px) {
    .slick-prev {
        left: -30px; /* Позиция левой стрелки на компьютере */
    }

    .slick-next {
        right: -30px; /* Позиция правой стрелки на компьютере */
    }
}

